[submodule ".\\xTen\\vendor\\spdlog"]
	path = .\\xTen\\vendor\\spdlog
	url = https://github.com/gabime/spdlog.git
[submodule ".\\xTen\\vendor\\GLFW"]
	path = .\\xTen\\vendor\\GLFW
	url = https://github.com/paubertin/glfw
[submodule ".\\xTen\\vendor\\imgui"]
	path = .\\xTen\\vendor\\imgui
	url = https://github.com/paubertin/imgui
